machine:
  install:
    disk: ${install_disk}
    image: ${install_image}
  network:
    nameservers:
      - ${dns}
    interfaces:
      - deviceSelector:
          physical: true
        addresses:
          - ${ip_address}/${network_prefix}
        routes:
          - network: 0.0.0.0/0
            gateway: ${network_gateway}
  features:
    hostDNS:
      forwardKubeDNSToHost: false
